<div class="form-group">
	<label for="title">Title</label>
	<input id="title" class="form-control" name="title" (keyup)="updateData($event, 'title')" type="text"/>
</div>
<div class="form-group">
	<label for="description">Description</label>
	<textarea id="description" class="form-control" name="description" (keyup)="updateData($event, 'description')"></textarea>
</div>
<div class="form-group justify-content-end form-row">
	<button class="btn btn-outline-dark mx-1" (click)="close()">Cancel</button>
	<button class="btn btn-info mx-1" (click)="onSaveTask()">Add</button>
</div>
