<ul class="list-unstyled">
	<ng-container *ngIf="tasks.length > 0">
		<li class="media border-bottom" *ngFor="let task of tasks">
			<div class="media-body">
				<h5 class="mt-0 mb-1">{{task.title}}</h5>
				{{task.description}}
			</div>
			<div class="align-self-start">
				<ng-container *ngIf="!task.complete">
					<span class="material-icons cursor-pointer" (click)="updateTask(task.id)">assignment_turned_in</span>
				</ng-container>
				<span class="material-icons cursor-pointer" (click)="deleteTask(task.id)">delete</span>
			</div>
		</li>
	</ng-container>
</ul>

<div class="position-absolute app-add-btn-container">
	<a (click)="add()" class="bg-info rounded-circle text-white app-add-btn d-flex justify-content-center align-items-center">
		<span class="material-icons">playlist_add</span>
	</a>
</div>
