/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"


html, body
	height: 100%

main
	flex: 1 0 auto

.cursor-pointer
	cursor: pointer
